extends  ../layout/admin

block styles
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.css")
block contenido
    div#login.p-10
      h1.text-4xl.my-5.font-extrabold.text-center Bienes
          span.font-normal Raices
      h2(class="text-center text-2xl font-bold") Agregar imagen
      code(class="text-center text-xs font-bold mt-10")= JSON.stringify(data)
    if errors
      each err in errors 
        div(class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative m-3 text-xs" role="alert")
          strong(class="font-bold p-2") Error!
          code(class="block sm:inline")=err.msg 
    div(class="bg-white shadow py-8 px-4 rounded mx-auto max-w-2xl p-4")
      form(class="flex flex-col dropzone  border-dashed border-2 rounded w-full min:h-96" method="POST" action="/real-state/add-property")
      button(class="w-full py-3 bg-indigo-400 hover:bg-indigo-500 text-white font-bold uppercase cursor-pointer mt-5" type="submit" value="crear-propiedad") Agregar imagen


block scripts 
  script(src="/js/agregarImagen.js")
