extends  ../layout/index
block contenido
    div#login.p-10
        h1.text-4xl.my-5.font-extrabold.text-center Bienes
            span.font-normal Raices
        h2(class="text-center text-2xl font-bold") Panel de administracion
        a(href="/real-state/add-property", class="rounded bg-indigo-600 px-2 py-1 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 block text-center my-2 md:block md:w-1/2 md:mx-auto") Crear propiedad